# Main Environment
fastapi
fastapi-socketio
sqlmodel
uvicorn[standard]
python-dotenv
requests
psycopg2

# Task Dependencies
imagehash
boto3
Pillow
azure-storage-blob
azure-identity
azure-cognitiveservices-vision-computervision
paramiko
