# Main Environment
fastapi
python-socketio
sqlmodel
uvicorn[standard]
python-dotenv
requests
psycopg2

# Task Dependencies
imagehash
minio
Pillow
azure-storage-blob
azure-identity
azure-cognitiveservices-vision-computervision
azure-keyvault-secrets
paramiko

# New
fastapi-socketio
jmespath
pip
python-dateutil
s3transfer
setuptools
boto3