@import 'Shared/MainLayout';
@import 'Shared/NavMenu';
@import 'Shared/Bookmark';

@import 'Collections/Index';
@import 'Collections/Collection';
@import 'Collections/SpecimenCard';
@import 'Collections/CollectionCard';
@import 'Collections/SpecimenDetail';
@import 'Collections/SpecimenList';
@import 'Collections/AddCollection';
@import 'Collections/ManagePage.scss';
@import 'Collections/InviteUser.scss';
@import 'Collections/NewUIIndex.scss';
@import 'Collections/NewUIWorkflow.scss';
@import 'Collections/NewUIStatus.scss';
@import 'Collections/NewUIManageWorkflow.scss';
@import 'Collections/NewUIWorkflowDetail.scss';

@import 'Workflows/Workflow';
@import 'Workflows/TaskCatalog';
@import 'Workflows/TaskCard';
@import 'Workflows/TaskParameters';

@import 'Users/AdminPage';
@import 'Users/InviteUser';

#blazor-error-ui {
    display: none;
}

h1 {
    font-size: 20px;
    line-height: 24.2px;
    letter-spacing: 0.05em;
    margin-bottom: 42px;
    font-weight: 500;
}

h2 {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 20px;
}

button {
    border-radius: 15px;
}

button.secondary {
    background-color: var(--grey-400);

    &:hover {
        background-color: var(--grey-300);
    }
}

::-webkit-scrollbar {
    width: 4px;
    &-track {
        background: transparent;
    }
    &-thumb {
        background: #7f56d9;
        border-radius: 10px;
    }
}

:root {
    --grey-900: #111219;
    --grey-800: #212433;
    --grey-500: #606580;
    --grey-400: #7A8099;
}
