@attribute [Authorize]
@page "/"

<section class="new-ui-section @(summaryCollapsed ? "collapsed" : "")">
    <section class="tab-section">
        <ul class="tab-list">
            <li class="tab-item first-icon @(activeTab == "all" ? "active" : "")" @onclick='() => ChangeTab("all")'>
                <a class='tab-link'>
                    <img src="/images/Flowchart.svg" />
                </a>
            </li>
            <li class="tab-item @(activeTab == "status" ? "active" : "")" @onclick='() => ChangeTab("status")'>
                <a class='tab-link'>
                    <img src="/images/ProgressIcon.svg" />
                </a>
            </li>
            <li class="tab-item @(activeTab == "workflow" ? "active" : "")" @onclick='() => ChangeTab("workflow")'>
                <a class='tab-link'>
                    <img src="/images/ManageIcon.svg" />
                </a>
            </li>
        </ul>

        <section class="tab-content">
            @if (activeTab == "all")
            {
                <NewUIWorkflow />
            }
            else if (activeTab == "status")
            {
                <NewUIStatus />
            }
            else if (activeTab == "workflow" && !showDetail)
            {
                <NewUIManageWorkflow OnContentClick="ToggleShowDetail" />
            }
            else if (activeTab == "workflow" && showDetail)
            {
                <NewUIWorkflowDetail OnBackClick="ToggleShowDetail" />
            }
        </section>

    </section>

    <section class="tab-section summary-section">
        <ul class="tab-list">
            <li class="tab-item summary active" @onclick="ToggleSummary">
                <a class="tab-link" name="summary">
                    <img src="/images/summaryIcon.svg" />
                </a>
            </li>
        </ul>
        <section class="tab-content collapsed-summary-tab-content">
            @if (!summaryCollapsed)
            {
                <NewUISummary />
            }
            else
            {
                <NewUICollapsedSummary />
            }
        </section>
    </section>

</section>


@code {
    [CascadingParameter] public User User { get; set; } = null!;
    List<Workflow> MyWorkflows = new();
    private string activeTab = "all";
    private bool showDetail = false;
    private bool summaryCollapsed = false;

    protected override async Task OnInitializedAsync()
    {
        if (User.InstitutionId == null)
        {
            var institution = User.CreateDefaultInstitution();
            await Institutions.UpdateAsync(institution);
            User.SetInstitution(institution);
            await Users.UpdateAsync(User);
            Console.WriteLine($"institution {User.InstitutionId}");
        }
    }

    private void ChangeTab(string tabName)
    {
        activeTab = tabName;
    }

    private void ToggleShowDetail()
    {
        showDetail = !showDetail;
    }

    private void ToggleSummary()
    {
        summaryCollapsed = !summaryCollapsed;
    }
}
