.task {
    border-radius: 32px;
    height: 46px;
    background: white;
    margin: 1px 0;

    &:hover {
        cursor: pointer;
        background-color: #f4ebff;
    }
     
    header {
        display: flex;
        margin-bottom: 8px;
        align-items: center;
        justify-content: flex-start;
        padding-left: 16px;
        padding-top: 11px;


        h4 {
            font-size: 13px;
            margin-left: 15px;
            color: var(--grey-800);
        }
    }

    aside {
        font-size: 12px;
        font-weight: 400;
        color: #dfdfe3;
    }

    footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: #eee;
        padding: 8px;

        aside {
            color: #777;
        }
    }

    button {
        position: absolute;
        bottom: 0px;
        right: 0px;
        font-size: 14px;
        border-radius: 0;
    }


    dl {
        font-size: 12px;
        margin: 16px 0;
        display: none;

        dt {
            font-weight: 600;
            margin-bottom: 4px;
        }

        dd {
            width: 160px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    &.selected dl {
        display: block;
    }
}
