@using Torch.Web.Workflows.Connections
    <header>
        <h1>@Workflow.Name</h1>
        <div class="header-right">
            <button class="sort-button">Sort</button>
            <img class="sort-icon-img" src="/images/sortIcon.svg" />
            <div class="search-box">
                <input type="text" placeholder="Search" />
                <i class="fa fa-search"></i>
            </div>
            <i class="sort"></i>
        </div>
    </header>

<hr />
 
<section>
    <h2>Connections</h2>
    <section class="workflow-cards">
        @foreach (var connection in Workflow.Connections.OrderBy(x => x.Direction))
        {
            <ConnectionCard Connection="connection" />
        }
        @if (!Workflow.Connections.Any())
        {
            <aside>
                No connections found for this workflow. Create your first connection in the Settings tab (third tab).
            </aside>
        }
    </section>
</section>

<hr />

<section class="specimens-list-cards">
    <h2>Recent Specimens</h2>
    <section class="spec-cards">
        <article class="spec-card">
            <div class="left">
                <img class="spec-img" src="/images/BRIT240602.jpg" />
                <h1>Specimen Name</h1>
            </div>
            <div class="right">
                <h1>Workflow Name</h1>
                <h1>06/20/2023</h1>
                @*<time>@Workflow.Create_date.ToString("MM/dd/yyyy")</time>*@
                <button class="more-btn">...</button>
            </div>
        </article>
    </section>
</section>

@inject IConfiguration Config
@code {
    [Parameter] public Workflow Workflow { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        // Socket.On("specimen_added", response => RefreshSpecimens());

    }
}