.workflow {
    display: grid;
    grid-template-rows: auto 50px;
    gap: 24px;
    transition: width 0.3s ease-in-out;

    .task button {
        display: none;
    }

    header {
        margin-bottom: 24px;

        h1 {
            color: #111219;
            letter-spacing: 0.05em;
            line-height: 24px;
        }
    }

    h3 {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.25em;
        text-transform: uppercase;
        color: #212433;
    }

    .progress {
        box-sizing: border-box;
        position: relative;
        width: 179px;
        height: 179px;
        margin-top: 22px;
        left: 82px;
        margin-bottom: 53px;

        img {
            position: absolute;
        }

        .inside-circle {
            width: 116.16px;
            height: 116.16px;
            left: 31px;
            position: absolute;
            margin-top: 28px;


            p {
                position: absolute;
                left: 30px;
                margin-top: 42px;
                width: 63px;
                height: 35px;
                font-weight: 600;
                font-size: 29px;
                line-height: 35px;
                text-align: center;
                color: #32374E;
            }
        }
    }

    ul {
        margin-top: 32px;
    }

    > button {
        text-align: center;
        position: absolute;
        width: 302px;
        height: 43px;
        left: 32px;
        bottom: 27px;
        padding: 13px 129px;
        border-radius: 15px;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
    }
}
