.workflow {
    display: grid;
    grid-template-rows: auto 50px;
    gap: 24px;
    transition: width 0.3s ease-in-out;

    .task button {
        display: none;
    }

    header {
        margin-bottom: 24px;
    }

    > button {
        text-align: center;
    }
}
