header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        margin-bottom: 0;
        font-weight: 400;
    }

    .header-right {
        display: flex;

        .sort-button {
            background: transparent;
            color: #0B0F1C;
            padding: 8px 4px 8px 8px;
            font-size: 12px;
        }

        .sort-icon-img {
            margin-right: 17px;
        }

        .search-box {
            display: flex;
            align-items: center;
            position: relative;

            input[type="text"] {
                padding: 12.5px 26px;
                border: 1px solid #ccc;
                border-radius: 16px;

                &::placeholder {
                    color: #6E7496;
                }
            }

            i {
                position: absolute;
                top: 50%;
                right: 26px;
                transform: translateY(-50%);
                color: #5A6182;
            }
        }
    }
}

hr {
    height: 1px;
    display: block;
    border-color: #F7F8FC;
    margin-top: 32px;
    margin-bottom: 16px;
}

section {
    h2 {
        margin: 16px 0;
        height: 15px;
    }

    > aside {
        font-size: 14px;
        color: var(--grey-400);
    }

    .workflow-cards {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 16px;
        flex-wrap: wrap;
    }

    .spec-cards {
        max-height: 400px;
        overflow-y: auto;

        .spec-card {
            display: flex;
            border: 1px solid #F7F8FC;
            border-radius: 20px;
            justify-content: space-between;
            align-items: center;
            padding: 16px 32px;
            margin: 13px 0;

            .left, .right {
                display: flex;
                align-items: center;
                gap: 20px;
            }

            .spec-img {
                width: 32px;
                height: 32px;
            }

            h1 {
                margin-bottom: 0;
                font-size: 14px;
                font-weight: 400;
            }

            .more-btn {
                background: transparent;
                color: #29324A;
                align-self: center;
                bottom: 4px;
                position: relative;
            }
        }
    }

    .full .spec-cards {
        max-height: 600px;
    }
}
