@inherits SparcModal

<div class="add-collection">
    <p>
        Set up your institution
    </p>

    <label>
        Institution Name
        <input @bind=Name />
    </label>

    <label>
        Institution Code
        <input @bind=Code />
    </label>

    <button @onclick=Send>Save</button>
</div>

@code {
    [CascadingParameter] public User User { get; set; } = null!;
    
    string Name = "";
    string Code = "";

    async Task Send()
    {
        var institution = new Institution(Name, Code);
        institution.SetOwner(User);
        await Institutions.AddAsync(institution);

        //User.SetInstitution(institution);
        await Users.UpdateAsync(User);
    }
}