@inherits SparcModal

<div class="add-collection">
    <p>
        Set up your institution
    </p>

    <label>
        Institution Name
        <input @bind=Name />
    </label>

    <label>
        Institution Code
        <input @bind=Code />
    </label>

    <button @onclick=Send>Save</button>
</div>

@code {
    string Name = "";
    string Code = "";

    async Task Send()
    {
        await Institutions.AddAsync(new Institution(Name, Code));
        Nav.NavigateTo("/", true);
    }
}