@inherits SparcModal

<div class="add-collection">
    <p>
        Set up your institution
    </p>

    <label>
        Institution Name
        <input @bind=Request.Name />
    </label>

    <label>
        Institution Code
        <input @bind=Request.Code />
    </label>

    <button @*@onclick=Send*@>Save</button>
</div>

@code {
    AddInstitutionRequest Request = new();

    async Task Send()
    {
        await TorchCommands.AddInstitutionAsync(Request);
        Nav.NavigateTo("/", true);
    }
}