@inherits SparcModal

@*I replicated the code but the invite needs to be tweaked for collections*@

<div class="add-collection">
    <p>
        Invite new team member
    </p>

    <label>
        Member Email
        <input @bind=Email />
    </label>

    <label>
        Member Role
        <select @bind="Role">             
            @if (User.IsInRole("admin", Workflow.Id) == true)
            {
                @foreach (var role in Roles)
                {
                    <option value="@role">@role</option>
                }
            }
            else if (User.IsInRole("supervisor", Workflow.Id) == true)
            {
                var basicRole = Roles.FirstOrDefault(r => r == "basic");
                if (basicRole != null)
                {
                    <option value="@basicRole">@basicRole</option>
                }
            }
        </select>
    </label>

    <button @onclick=Send>Send invite</button>
</div>

@code {
    [CascadingParameter] public User User { get; set; } = null!;
    [Parameter] public Workflow Workflow { get; set; } = null!;
    List<string> Roles = new() { "Admin", "Supervisor", "Basic" };
    string? Email;
    string? Role;

    async Task Send()
    {
        //await TorchCommands.SendInviteAsync(Request);
        await Ok();
    }
}