@inherits SparcModal

<div class="add-collection">
    <p>
        Invite new team member
    </p>

    <label>
        Member Email
        <input @*@bind=Request.Email*@ />
    </label>

    <label>
        Member Role
        <select @*@bind=Request.Roles*@>
@*            @if (User.Roles.Name == "admin")
            {
                @foreach (var role in Roles)
                {
                    <option value="@role.Name">@role.Name</option>
                }
            }
            else if (User.Roles.Name == "supervisor")
            {
                var basicRole = Roles.FirstOrDefault(r => r.Name == "basic");
                if (basicRole != null)
                {
                    <option value="@basicRole.Name">@basicRole.Name</option>
                }
            }*@
        </select>
    </label>

    <button @*@onclick=Send*@>Send invite</button>
</div>

@code {
    [Parameter] public int UserId { get; set; }

    UserResponse? User;
    RolesResponse? Roles;


    //protected override async Task OnInitializedAsync()
    //{
    //    User = await TorchCommands.GetUserAsync(UserId.ToString());
    //    Roles = await TorchCommands.GetRolesAsync();
    //}

    SendInviteRequest Request = new();

    async Task Send()
    {
        await TorchCommands.SendInviteAsync(Request);
        await Ok();
    }
}