@if (SelectedSpecimens.Count() >= 1)
{
    <header class="selectedNumber">
        <p class="xsmall">@SelectedSpecimens.Count() Selected</p>
    </header>
}
<section class="specimen-list">
    @if (AllSpecimens != null)
    {
        @foreach (var specimen in AllSpecimens)
        {
            <article @onclick="@(() => Select(specimen))" class="@(SelectedSpecimens.Contains(specimen) ? "selected" : "")">
                <SpecimenCard Specimen="specimen" @key=specimen.Id RetryFromSpecimenCard="Retry" />
            </article>
        }

        @if (AllSpecimens.Count() == 0)
        {
            <aside>
                No specimens have been added to this collection yet.
                Click the Upload Specimens button at the bottom right to begin uploading.
            </aside>
        }
    }
</section>

@inject IJSRuntime JSRuntime

@code {
    [Parameter] public IEnumerable<Specimen> AllSpecimens { get; set; } = null!;
    [Parameter] public EventCallback<Specimen> OnSelect { get; set; }

    public List<Specimen> SelectedSpecimens = new List<Specimen>();

    async Task Select(Specimen specimen)
    {
        if (await IsCtrlKeyPressedAsync())
        {
            if (SelectedSpecimens.Contains(specimen))
            {
                SelectedSpecimens.Remove(specimen);
            }
            else
            {
                SelectedSpecimens.Add(specimen);
            }
        }
        else
        {
            SelectedSpecimens.Clear();
            await OnSelect.InvokeAsync(specimen);
        }
    }

    async Task<bool> IsCtrlKeyPressedAsync()
    {
        var ctrlKey = await JSRuntime.InvokeAsync<bool>("ctrlKeyPressed", new object[] { });
        return ctrlKey;
    }

    async void Retry()
    {
        var abc = "";
    }
}
