figure {
    width: 130px;
    svg {
        width: 120px;
        height: 120px;
    }
}

circle {
    fill: none;
    stroke-linecap: round;
    stroke-width: 12px;
    transform: rotate(-90deg);
    transform-origin: center center;
    transition: stroke-dashoffset ease-in 0.3s;
}

.upload {
    stroke: #3C359C;
    &.background {
        stroke: #EDEDFF;
    }
}

.process {
    stroke: #0EC2E9;

    &.background {
        stroke: #E9FBFF;
    }
}

.transfer {
    stroke: #FF7546;

    &.background {
        stroke: #FFEAE2;
    }
}