@using Microsoft.AspNetCore.Components.Authorization;
@using Sparc.Blossom.Authentication;
@inherits LayoutComponentBase


<CascadingValue Value="User">
    <div class="main-layout">
        <main>
            @Body
        </main>
    </div>
    <CascadingBlazoredModal></CascadingBlazoredModal>
</CascadingValue>

@inject TorchAuthenticator Auth
@code {
    User User = new();
    protected override async Task OnInitializedAsync()
    {
        User = await Auth.LoginAsync() ?? new();
    }
}


