@using Sparc.Blossom.Authentication;
@inherits LayoutComponentBase


<CascadingValue Value="User">
    <div class="main-layout">
        <main>
            @Body
        </main>
    </div>
    <CascadingBlazoredModal></CascadingBlazoredModal>
</CascadingValue>

@inject BlossomAuthenticationStateProvider Auth
@code {
    ClaimsPrincipal User = new ClaimsPrincipal(new ClaimsIdentity());
    protected override async Task OnInitializedAsync()
    {
        var user = await Auth.GetAuthenticationStateAsync();
        if (user?.User != null)
            User = user.User;
    }
}


