@inherits SparcModal

<div class="add-collection">
    <p>
        Add a new collection to your institution.
    </p>

    <label>
        Collection Name
        <input @bind=Name />
    </label>

    <label>
        Collection Code
        <input @bind=Code />
    </label>

    <button @onclick=Save>Create Collection</button>
</div>

@code {
    [CascadingParameter] public ClaimsPrincipal User { get; set; } = null!;
    string Name = "";
    string Code = ""; 

    async Task Save()
    {
        await Collections.AddAsync(new Collection(User!.InstitutionId()!.Value, Name, Code));
        await Ok();
    }
}
