.collection {
    display: grid;
    grid-template-columns: 8fr 2fr;
    gap: 24px;

    .specimen-list {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 8px;
        flex-wrap: wrap;

        > aside {
            color: gray;
            font-size: 14px;
        }
    }

    header {
        display: flex;
        justify-content: space-between;
    }
}
