.collections-index {
    padding: 32px;

    .nav-header {
        display: flex;

        .nav-admin-opt {
            cursor: pointer;
            margin-left: 40px;

            &:hover {
                color: var(--primary-500);
            }
        }
    }

    .nav-admin-opt2 {
        cursor: pointer;
        margin-left: 40px;

        &:hover {
            color: var(--primary-500);
        }
    }
}
