@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@using System.Security.Claims;
@attribute [Authorize]
@page "/"

<div class="collections-index">
    <header>
        <div class="nav-header">
            <h1>All Collections</h1>
            @if (User?.IsInRole("admin") == true)
            {
                <h1 @onclick=Go class="nav-admin-opt">Admin Page</h1>
                <button @onclick=Add>Add New Collection</button>
            }
        </div>
    </header>

    @if (Model != null)
    {
        <section>
            @foreach (var collection in Model.Collections)
            {
                @if (collection.Deleted_date == null)
                {
                    <CollectionCard Collection="collection" />
                }
            }
        </section>
    }
</div>

@inject IModalService Modal
@inject AuthenticationStateProvider Auth
@code {
    [CascadingParameter] public ClaimsPrincipal? User { get; set; }
    CollectionsResponse? Model;

    protected override async Task OnInitializedAsync()
    {
        if (User?.Claims.Any(x => x.Type == "institution_id") == false)
            Modal.Show<Torch.Web.Institutions.AddInstitution>();

        Model = await TorchCommands.GetCollectionsAsync();
    }

    async Task Add()
    {
        var modal = Modal.Show<AddCollection>();
        await modal.Result;
        Model = await TorchCommands.GetCollectionsAsync();
    }

    void Go() => Nav.NavigateTo($"/admin-page");
}