<header class="workflow-header">
    <h1>Summary</h1>
</header>

<div class="divider"></div>

<section class="workflow-folders">
    <h2>Processing</h2>
    <section class="processing-cards">

        <div class="progress-bars">
            <div class="progress-bar">
                <div class="circle"></div>
            </div>
        </div>

        <div class="text-info">
            <div class="prog-data">
                <div class="status-board-text">
                    <h4>Completion</h4>
                    <h1>75<span>%</span></h1>
                </div>
                <div class="status-board-text">
                    <h4>Time Ramining</h4>
                    <h1>1<span>hr</span>38<span>min</span></h1>
                </div>
            </div>
            <div class="progress-bar-caption">
                <div class="progress-item">
                    <h4 class="title-caption">Uploading</h4>
                    <h4>840</h4>
                </div>
                <div class="progress-item">
                    <h4 class="title-caption">Success</h4>
                    <h4>629</h4>
                </div>
                <div class="progress-item">
                    <h4 class="title-caption">Error</h4>
                    <h4>0</h4>
                </div>
            </div>
        </div>

    </section>
</section>


<div class="divider"></div>

<section class="workflow-list-cards">
    <h2>List</h2>
    <section class="w-list-cards">
        @*@if (error)
        {*@
            <article class="w-card with-progress error">
                <img class="spec-img" src="/images/errorSpec.svg" />
                <div class="title-and-progress">
                    <h4>BRIT 0123456 to Workflow Name</h4>
                    <div class="progress">
                        <div class="progress-bar"></div>
                        <span>0%</span>
                    </div>
                </div>
            </article>
        @*}*@

        <article class="w-card with-progress">
            <img class="spec-img" src="/images/filesIcon.svg" />
            <div class="title-and-progress">
                <h4>280/320 to Workflow Name</h4>
                <div class="progress">
                    <div class="progress-bar"></div>
                    <span>88%</span>
                </div>
            </div>
        </article>
    </section>
</section>


@code {

}