@page "/new-ui-page"

<section class="new-ui-section">
    <section class="tab-section">
        <ul class="tab">
            <li class="first-icon"><a href="#" name="tab1"><img src="/images/Flowchart.svg" /></a></li>
            <li><a href="#" name="tab2"><img src="/images/ProgressIcon.svg" /></a></li>
            <li><a href="#" name="tab3"><img src="/images/ManageIcon.svg" /></a></li>
        </ul>
    </section>
</section>