<header class="status-header">
    <h1>Status</h1>
</header>

<section>
    <article class="status-board">
        <section>
            <img class="status-img" src="/images/completionIcon.svg" />
            <div class="status-board-text">
                <h3>Completion</h3>
                <h1>75<span>%</span></h1>
            </div>
        </section>
        <section>
            <img class="status-img" src="/images/hourglassIcon.svg" />
            <div class="status-board-text">
                <h3>Time Ramining</h3>
                <h1>1<span>hr</span>38<span>min</span></h1>
            </div>
        </section>
        <section>
            <img class="status-img" src="/images/processingIcon.svg" />
            <div class="status-board-text">
                <h3>Processing</h3>
                <h1>840 <span>files</span></h1>
            </div>
        </section>
        <section>
            <img class="status-img" src="/images/errorIcon.svg" />
            <div class="status-board-text">
                <h3>Error</h3>
                <h1>1 <span>files</span></h1>
            </div>
        </section>
    </article>
</section>

<div class="divider"></div>

<section class="specimens-list-cards-status">
    <h2>Queue</h2>
    @*@if(error)
    {*@
    <section class="spec-cards">
        <article class="spec-card error">
            <div class="left">
                <img class="spec-img" src="/images/redErrorIcon.svg" />
                <h1>Specimen Name</h1>
            </div>
            <div class="right">
                <h1>Workflow Name</h1>
                <h1>01:24:20 PM</h1>
                <div class="two-btns">
                    <button class="err-btn">Retry</button>
                    <button class="err-btn">Cancel</button>
                </div>
            </div>
        </article>
    </section>
    @*}*@

    <section class="spec-cards">
        <article class="spec-card with-progress">
            <div class="left">
                <img class="spec-img" src="/images/filesIcon.svg" />
                <div class="title-and-progress">
                    <h2>280/320 to Workflow Name</h2>
                    <h2>5 min remaining</h2>
                    <div class="progress">
                        <div class="progress-bar"></div>
                        <span>88%</span>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="two-btns">
                    <button class="no-err-btn">Expand</button>
                    <button class="no-err-btn">Cancel</button>
                </div>
            </div>
        </article>
    </section>

    <section class="spec-cards">
        <article class="spec-card with-progress">
            <div class="left">
                <img class="spec-img" src="/images/BRIT240602.jpg" />
                <div class="title-and-progress">
                    <h2>BRIT 0123456 to Workflow Name</h2>
                    <h2>1 min remaining</h2>
                    <div class="progress">
                        <div class="progress-bar"></div>
                        <span>0%</span>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="two-btns">
                    <button class="no-err-btn">Collapse</button>
                    <button class="no-err-btn">Cancel</button>
                </div>
            </div>
        </article>
    </section>

    <section class="processed-spec-section">
        <section class="spec-cards">
            <article class="spec-card with-progress">
                <div class="left">
                    <img class="spec-img" src="/images/filesIcon.svg" />
                    <div class="title-and-progress">
                        <h2>2/180 to Workflow Name</h2>
                        <h2>30 min remaining</h2>
                        <div class="progress">
                            <div class="progress-bar"></div>
                            <span>1%</span>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="two-btns">
                        <button class="no-err-btn">Collapse</button>
                        <button class="no-err-btn">Cancel</button>
                    </div>
                </div>
            </article>
        </section>

        <section class="spec-cards">
            <article class="spec-card">
                <div class="left">
                    <img class="spec-img" src="/images/BRIT240602.jpg" />
                    <h1>Specimen Name</h1>
                </div>
                <div class="right">
                    <h1>Task Name</h1>
                    <h1>01:24:20 PM</h1>
                    <button class="more-btn">...</button>
                </div>
            </article>
        </section>

        <section class="spec-cards">
            <article class="spec-card">
                <div class="left">
                    <img class="spec-img" src="/images/BRIT240602.jpg" />
                    <h1>Specimen Name</h1>
                </div>
                <div class="right">
                    <h1>Task Name</h1>
                    <h1>01:24:20 PM</h1>
                    <button class="more-btn">...</button>
                </div>
            </article>
        </section>

    </section>

</section>


@code {

}
