<section class="workflow-detail">
    <section class="left-section">
        <header class="detailed-workflow-header">
            &larr; Back
            <div class="workflow-detail-header">
                <div class="header-left">
                    <h1>Workflow Name</h1>
                </div>
                <div class="header-right">
                    <button class="sort-button">
                        <img class="sort-icon-img" src="/images/Edit save.svg" />
                    </button>
                    <button class="sort-button">
                        <img class="sort-icon-img" src="/images/Trashcan.svg" />
                    </button>
                </div>
            </div>
            <div class="header-bottom-text">
                <h4>Last Updated: 24 FEB 2016</h4>
                <h4>Created by: Christina J</h4>
                <h4>Assigned Tasks: 34</h4>
            </div>
        </header>

        <section>
        </section>

    </section>

    <div class="new-border"></div>

    <section class="right-section">
        <div class="search-box">
            <input type="text" placeholder="Search" />
            <i class="fa fa-search"></i>
        </div>
    </section>

</section>






@code {

}
