<section class="collapsed-summary-section">

    <div class="progress-bars">
        <div class="progress-bar">
            <div class="vertical-progress"></div>
        </div>
    </div>


    <div class="divider"></div>

    <div class="icons">
        <div>
            <img class="spec-img" src="/images/filesIcon.svg" />
        </div>        
    </div>
</section>


@code {

}