<section class="collapsed-summary-section">

    <div class="progress-bars">
        <div class="progress-bar">
            <div class="vertical-progress error"></div>
        </div>
        <div class="progress-bar">
            <div class="vertical-progress success"></div>
        </div>
        <div class="progress-bar">
            <div class="vertical-progress uploading"></div>
        </div>
    </div>


    <div class="divider"></div>

    <div class="icons">
        @*@if (error)
        {*@
        <div class="error">
            <img class="spec-img" src="/images/errorSpec.svg" />
        </div>
        @*}*@
        <div>
            <img class="spec-img" src="/images/filesIcon.svg" />
        </div>        
    </div>
</section>


@code {

}