<section class="workflow-detail">
    <section class="left-section">
        <header class="detailed-workflow-header">
            &larr; Back
            <div class="workflow-detail-header">
                <div class="header-left">
                    <h1>Workflow Name</h1>
                </div>
                <div class="header-right">
                    <button class="workflow-detail-buttons">
                        <img class="sort-icon-img" src="/images/Edit save.svg" />
                    </button>
                    <button class="workflow-detail-buttons">
                        <img class="sort-icon-img" src="/images/Trashcan.svg" />
                    </button>
                </div>
            </div>
            <div class="header-bottom-text">
                <h4>Last Updated: 24 FEB 2016</h4>
                <h4>Created by: Christina J</h4>
                <h4>Assigned Tasks: 34</h4>
            </div>
        </header>

        <section class="task-cards">

            <section class="workflow-cards">
                <section class="task-card">
                    <div class="card-order">
                        <h2>01</h2>
                        <button class="detail-buttons order">
                            <img class="detail-icon-img" src="/images/up.svg" />
                        </button>
                        <button class="detail-buttons ">
                            <img class="detail-icon-img" src="/images/down.svg" />
                        </button>

                    </div>
                    <article class="task-card-card">
                        <div class="card-top-text">
                            <div class="top-top-text">
                                <h2>Configuration Name</h2>
                                <div class="right-btns">
                                    <button class="workflow-detail-buttons">
                                        <img class="sort-icon-img" src="/images/close_icon.svg" />
                                    </button>
                                    <button class="workflow-detail-buttons">
                                        <img class="sort-icon-img" src="/images/greenEditSaveIcon.svg" />
                                    </button>
                                    <button class="workflow-detail-buttons">
                                        <img class="sort-icon-img" src="/images/Trashcan.svg" />
                                    </button>
                                </div>
                            </div>
                            <div class="header-bottom-text">
                                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et.</h3>
                            </div>
                        </div>

                        <div class="task-card-bottom-text">
                            <div class="task-options">
                                <label class="task-opt">
                                    <input type="radio" checked>
                                    Option_1
                                </label>
                                <label class="task-opt">
                                    <input type="radio">
                                    Option_2
                                </label>
                                <label class="task-opt">
                                    <input type="radio">
                                    Option_3
                                </label>
                            </div>
                        </div>
                    </article>
                </section>

            </section>
        </section>

    </section>

    <div class="new-border"></div>

    <section class="right-section">
        <div class="search-box">
            <input type="text" placeholder="Search" />
            <i class="fa fa-search"></i>
        </div>

        <article class="create-new-task">
            <h3>Configuration Name</h3>
            <button class="add-btn">
                <img src="/images/plusNewIcon.svg" />
            </button>
        </article>
    </section>

</section>




@code {

}
