.specimen-detail {
    display: grid;
    grid-template-columns: 4fr 4fr;
    gap: 32px;

    > section {
        max-height: 80vw;
        overflow-y: auto;
    }

    > figure {
        img {
            max-width: 100%;
        }
    }
}
