<section class="specimen-list">
    @if (Specimens != null)
    {
        @foreach (var specimen in Specimens)
        {
            <article style="animation-delay: @(i)ms" @onclick="@(() => Select(specimen))">
                <SpecimenCard Specimen="specimen" @key=specimen.Id />
            </article>
            i += 75;
        }

        @if (Specimens.Count() == 0)
        {
            <aside>
                No specimens have been added to this collection yet.
                Click the Upload Specimens button at the bottom right to begin uploading.
            </aside>
        }
    }
</section>

@code {
    [Parameter] public IEnumerable<SpecimenResponse> Specimens { get; set; } = null!;
    [Parameter] public EventCallback<SpecimenResponse> OnSelect { get; set; }
    int i = 0;

    async Task Select(SpecimenResponse specimen) => await OnSelect.InvokeAsync(specimen);
}