<article @onclick="ToggleExpandCollapse">
    <header>
        <h2>@((Task.SortOrder ?? 0).ToString("00"))</h2>
        @if (isExpanded)
        {
            <button class="order" @onclick:stopPropagation=true>
                <img class="detail-icon-img" src="/images/up.svg" />
            </button>
            <button @onclick:stopPropagation=true>
                <img class="detail-icon-img" src="/images/down.svg" />
            </button>
        }
    </header>

    <div>
        <header>
            <h2>@Task.Name</h2>
            <div class="right-btns">
                <button class="tiny" @onclick:stopPropagation=true>
                    <img src="/images/close_icon.svg" />
                </button>
                <button class="tiny" @onclick:stopPropagation=true>
                    <img src="/images/greenEditSaveIcon.svg" />
                </button>
                <button class="tiny" @onclick:stopPropagation=true>
                    <img src="/images/Trashcan.svg" />
                </button>
            </div>
            @if (isExpanded)
            {
                <h3>@Task.Description</h3>
            }
        </header>

        @if (isExpanded)
        {
            <footer>
                @foreach (var key in Task.Parameters.Keys)
                {
                    <label>
                        @key
                        <input @bind="@Task.Parameters[key]" @bind:after=Save />
                    </label>
                }
            </footer>
        }
    </div>
</article>

@code {
    [Parameter] public TorchTask Task { get; set; } = null!;
    private bool isExpanded = false;

    private void ToggleExpandCollapse()
    {
        isExpanded = !isExpanded;
    }

    async Task Save() => await Workflows.UpdateAsync(Task.Workflow);
}