@inherits SparcModal

@*I replicated the code but the invite needs to be tweaked for collections*@

<div class="add-collection">
    <p>
        Invite new team member
    </p>

    <label>
        Member Email
        <input @bind=Email />
    </label>

    <label>
        Member Role
        <select @bind="Role">             
            @if (User?.IsInRole("admin") == true)
            {
                @foreach (var role in Roles)
                {
                    <option value="@role.Id">@role.Name</option>
                }
            }
            else if (User?.IsInRole("supervisor") == true)
            {
                var basicRole = Roles.FirstOrDefault(r => r.Name == "basic");
                if (basicRole != null)
                {
                    <option value="@basicRole.Id">@basicRole.Name</option>
                }
            }
        </select>
    </label>

    <button @onclick=Send>Send invite</button>
</div>

@inject IRepository<Role> AllRoles
@code {
    [CascadingParameter] public ClaimsPrincipal? User { get; set; }
    List<Role> Roles = new();
    string? Email;
    string? Role;

    protected override void OnInitialized()
    {
        Roles = AllRoles.Query.ToList();
    }

    async Task Send()
    {
        //await TorchCommands.SendInviteAsync(Request);
        await Ok();
    }
}