.workflow-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-left {
        h1 {
            margin-bottom: 0;
            font-weight: 400;
        }
    }

    .header-right {
        display: flex;

        .sort-button {
            background: transparent;
            color: #0B0F1C;
            padding: 8px 4px 8px 8px;
            font-size: 12px;
        }

        .sort-icon-img {
            margin-right: 17px;
        }

        .search-box {
            display: flex;
            align-items: center;
            position: relative;

            input[type="text"] {
                padding: 12.5px 26px;
                border: 1px solid #ccc;
                border-radius: 16px;

                &::placeholder {
                    color: #6E7496;
                }
            }

            i {
                position: absolute;
                top: 50%;
                right: 26px;
                transform: translateY(-50%);
                color: #5A6182;
            }
        }
    }
}

.status-board {
    border: 1px solid #F7F8FC;
    border-radius: 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    height: 128px;
    padding: 24px 32px;
    background: #F7F8FC;
    margin-top: 32px;
    gap: 32px;

    section {
        display: flex;
        align-items: center;
        justify-content: center;

        .status-img {
            margin-right: 16px;
        }

        .status-board-text {
            display: flex;
            flex-direction: column;
        }

        h1 {
            font-size: 22px;
            color: #181E30;
            font-weight: 400;
            margin-bottom: 0;
            letter-spacing: 0.84px;
        }

        h3 {
            font-size: 14px;
            color: #5A6182;
            font-weight: 400;
        }

        span {
            font-size: 14px;
            color: #181E30;
            font-weight: 400;
        }
    }
}

.divider {
    height: 1px;
    background-color: #F7F8FC;
    margin-top: 32px;
    margin-bottom: 16px;
}

.specimens-list-cards-status {
    overflow-y: auto;
    height: calc(100% - 235px);

    &::-webkit-scrollbar {
        &-thumb {
            background: #29324A;
        }
    }

    .processed-spec-section {
        border-radius: 20px;
        border: 1px solid #E6E8F2;
        padding: 24px 24px 0px 24px;
    }
}
