.workflow-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        margin-bottom: 0;
        font-weight: 400;
    }
}

.divider {
    height: 1px;
    background-color: #F7F8FC;
    margin-top: 32px;
    margin-bottom: 16px;
}

.workflow-folders {
    height: 184px;
    overflow-y: auto;

    h2 {
        margin: 16px 0;
        height: 15px;
    }

    .processing-cards {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 32px;
        flex-wrap: wrap;

        .prog-data {
            display: flex;
            gap: 16px;
            margin-bottom: 12px;

            .status-board-text {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }

            .completion {
                width: 75px;
            }
        }

        .progress-bar-caption {
            display: flex;
            flex-direction: column;
            gap: 8px;

            .progress-item {
                display: flex;
                align-items: center;
                gap: 8px;

                .color-caption-circle {
                    width: 11px;
                    height: 11px;
                    border-radius: 26px;
                }

                .uploading-circle {
                    background-color: #3C359C;
                }

                .success-circle {
                    background-color: #0EC2E9;
                }

                .error-circle {
                    background-color: #FF7546;
                }

                .title-caption {
                    width: 72px;
                }
            }
        }


        h1 {
            font-size: 20px;
            color: #181E30;
            font-weight: 400;
            margin-bottom: 0;
            letter-spacing: 1px;
        }

        h3 {
            font-size: 14px;
            color: #5A6182;
            font-weight: 400;
        }

        h4 {
            font-size: 12px;
            color: #6E7496;
            font-weight: 400;
        }

        span {
            font-size: 14px;
            color: #181E30;
            font-weight: 400;
        }
    }
}

.workflow-list-cards {
    overflow-y: auto;
    height: calc(100% - 319px);
    margin-top: 32px;

    .w-list-cards {

        .w-card {
            display: flex;
            background: var(--purple-100, #FAFAFF);
            border-radius: 20px;
            /*justify-content: space-between;*/
            align-items: center;
            padding: 17px 20px;
            margin: 14px 0;
            gap: 20px;

            .spec-img {
                width: 32px;
                height: 32px;
            }

            .title-and-progress {
                display: flex;
                flex-direction: column;
                gap: 2px;
                flex-grow: 1;
            }

            h4 {
                font-size: 12px;
                color: #2A2570;
                font-weight: 400;
            }

            .progress {
                display: flex;
                align-items: center;
                gap: 8px;
                margin-top: 5px;

                .progress-bar {
                    position: relative;
                    width: 272px;
                    height: 7px;
                    background-color: #E6E8F2;
                    border-radius: 10px;

                    &::after {
                        content: "";
                        position: absolute;
                        height: 100%;
                        width: 88%;
                        background-color: #3C359C;
                        border-radius: 10px;
                    }
                }

                span {
                    font-size: 12px;
                    right: 75px;
                    position: absolute;
                }
            }

            .with-progress {
                position: relative;
            }
        }

        .error {
            background: #FEF1F4;
            color: #B50021;

            h4 {
                color: #B50021;
            }

            .progress .progress-bar {
                background-color: #F6DBE2;

                &::after {
                    content: "";
                    position: absolute;
                    height: 100%;
                    width: 0%;
                    border-radius: 10px;
                }
            }
        }
    }
}
