.manage-workflow-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;

    .header-left {
        h1 {
            margin-bottom: 0;
            font-weight: 400;
        }
    }

    .header-right {
        display: flex;

        .sort-button {
            background: transparent;
            color: #0B0F1C;
            padding: 8px 4px 8px 8px;
            font-size: 12px;
        }

        .sort-icon-img {
            margin-right: 17px;
        }

        .search-box {
            display: flex;
            align-items: center;
            position: relative;

            .search-box input[type="text"] {
                padding: 12.5px 26px;
                margin-right: 5px;
                border: 1px solid #ccc;
                border-radius: 16px;
            }

            i {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                color: #5A6182;
            }
        }
    }
}

.manage-workflow-folders {
    overflow-y: auto;

    .workflow-cards {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 16px;
        flex-wrap: wrap;

        

        .up-btn {
            float: right;
            position: relative;
            bottom: 32px;
            background: transparent;
            padding: 0;

            .up-btn-img {
                width: 36px;
                height: 36px;
            }
        }
    }
}
