<article>
    <img src="/images/folderIcon.svg" />
    <header>
        <h3>@Connection.Name</h3>
        <h4>@Connection.Direction | @(Connection.ContainerType.Replace("Connection", ""))</h4>
    </header>
    @if (Connection.Direction == "Input")
    {
        <InputFile @key=inputFileId OnChange="Upload" multiple />
        
@*        <button @onclick=Upload>
            <img src="/images/upArrowIcon.svg" />
        </button>
*@    }
</article>

@code {
    [Parameter] public Connection Connection { get; set; } = null!;
    [Parameter] public EventCallback<InputFileChangeEventArgs> OnUpload { get; set; }
    
    string inputFileId = Guid.NewGuid().ToString();

    async Task Upload(InputFileChangeEventArgs e)
    {
        await OnUpload.InvokeAsync(e);
        inputFileId = Guid.NewGuid().ToString();
    }
}
